<footer class="bg-dark text-white-pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
                <h5 class="text-uppercase mb-4 fw-bold"><span style="color:#ffffff;">FAST</span><span style="color:#2176ff;">CARS</span></h5>
                <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil minus repellat nostrum nisi quis saepe vitae quibusdam mollitia dolores. Nihil.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
                <h5 class="mb-4 fw-bold text-muted">Quick Links</h5>
                <p>
                    <a href="{% url 'home' %}" class="text-white" style="text-decoration:none;">Home</a>
                </p>
                <p>
                    <a href="{% url 'about' %}" class="text-white" style="text-decoration:none;">About</a>
                </p>
                <p>
                    <a href="{% url 'services' %}" class="text-white" style="text-decoration:none;">Service</a>
                </p>
                <p>
                    <a href="{% url 'contact' %}" class="text-white" style="text-decoration:none;">Contact</a>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
                <h5 class="mb-4 fw-bold text-muted">Account</h5>
                <p>
                    <a href="{% url 'login' %}" class="text-white" style="text-decoration:none;">Login</a>
                </p>
                <p>
                    <a href="{% url 'registration' %}" class="text-white" style="text-decoration:none;">Register</a>
                </p>
            </div>
        </div>
    </div>
</footer>